body {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 18px;
  background-color: #473f3f;
  color: rgb(221, 221, 221);
}

img {
  width: 100%;
  max-width: 500px;
}

.jumbotron {
  font-family: 'Special Elite', cursive;
  background-image: url("../img/train.jpg");
  background-size: cover;
  background-position: center;
}

.jumbotron .shaded-area {
  margin-top: 40px;
  display: inline-block;
  padding: 25px;
  background-color: rgba(124, 115, 107, 0.75);
}

select {
  background-color: rgb(221, 221, 221);
}

.btn {
  color: #473f3f;
  background-color: #a59d9d;
}

.btn:hover {
  background-color: rgb(221, 221, 221);
}

.luna, .tonks, .neville, .weasleys {
  text-align: center;
  display: none;
}
